{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcement Details</title>
    <link rel="stylesheet" href="{% static 'css/detailsPageStyle.css' %}">
</head>
<body>
    <div class="container">
    <div class = "announcement-details">
        <h1>{{announcement.subject }}</h1>
        <h2>Date Posted: {{ announcement.date_posted }}</h2>
    </div>
    <pre>{{ announcement.content }}</pre>
    {% if announcement.photo %}
    <img src="{{ announcement.photo.url }}" alt="{{ announcement.subject }}" style="max-width:400px; max-height:400px;">
    {% endif %}
     </div>
</body>
</html> 