{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcement</title>
    <link rel="stylesheet" href="{% static 'css/announcementPageStyle.css' %}">
</head>
<body>
<div class="container">
    <header>
        <div class="header-left">
            <span>⛪</span> <h1>Announcements</h1>
        </div>
        
    </header>

    {% for announcement in announcements %}
        <div class="announcement-row">

            <a href = "{% url 'announcement_detail' announcement.id %}">

            <span class="subject">Subject: {{ announcement.subject }}</span>
            <span class="date">{{ announcement.date_posted }}</span></a>
            
                
        </div>
    {% empty %}
        <p>No announcements found.</p>
    {% endfor %}
</div>
</body>
</html>