{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcement</title>
    <link rel="stylesheet" href="{% static 'css/ANStyle.css' %}">
</head>
<body>
<div class="container">
    <header>
        <div class="header-left">
            <h1>Announcements</h1>
            <button name = "backButton" onclick="window.location.href='/'">back</button>
        </div>
        
    </header>

    {% for announcement in announcements %}
        <div class="announcement-row">

            <a href = "{% url 'announcement_detail' announcement.id %}">
            <span class="subject">Subject: {{ announcement.subject }}</span></a>
            <span class="date">{{ announcement.date_posted }}</span>
            
            
                
        </div>
    {% empty %}
        <p>No announcements found.</p>
    {% endfor %}
</div>
</body>
</html>