{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Details</title>
    <link rel="stylesheet" href="{% static 'css/detailsPageStyle.css' %}">
</head>
<body>
    <div class="container">
    <div class = "announcement-details">
    <h1>{{group.name }}</h1>
    <h2>Established at: {{ group.created_at}}</h2>
    </div>
    <pre>{{ group.description }}</pre>
    {% if group.photo %}
    <img src="{{ group.photo.url }}" alt="{{ group.name }}" style="max-width:500px; max-height:500px;">
    {% else %}
    <img src="{% static 'images/VDCPdefaultProfile.jpg' %}" alt="{{ group.name }}" style="max-width:400px; max-height:400px;">
    {% endif %}
     </div>
</body>
</html> 