
body{
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header-left h1 {
    color: #2c3e50;
    text-align: center;
    padding: 20px 0;
}

.group-row {
    background-color: #f9b3c7;
    border: 1px solid #ddd;
    margin: 10px auto;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.group-link {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 10px; 
    border: 1px solid #ccc;
    padding: 10px;
}

.group-link .name {
    font-weight: bold;
}
.group-row .name {
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
}

.group-row .date {
    font-size: 1.0em;
    color: grey;

}

.group-row a{
    text-decoration: none;
    color: inherit;
}