{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Lyrics</title>
    <link rel="stylesheet" href="{% static 'css/lyricPageStyle.css' %}">
</head>
<body>
    <div class="container">
        <div class = "priest-details">
        <img src="{{ priest.photo.url }}" alt="{{ priest.name }}" style="max-width:200px; max-height:200px;">
        <h1>{{ priest.name }}</h1>
        <h2>Artist: {{ priest.birthdate }}</h2>
        </div>
    <pre>{{ priest.bio }}</pre>
     </div>
</body>
</html> 