{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Virgen Dela Candelaria Parish{% endblock %}</title>
  {%block head %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
  {% endblock %}
</head>
<body>
  <header class="navbar">
    <div class="logo"><a href="{% url 'home' %}">🏛Virgen Dela Candelaria Parish</a></div>
    <nav class="nav-links">
      <a href="/history/">History</a>
      <a href="/location/">Location</a>
      <a href="/donate/">Donate</a>
      <a href="/subscribe/" class="subscribe">📧 Subscribe</a>
    </nav>
  </header>

  <main>
    {% block content %}
    
    {% endblock %}
  </main>
</body>
</html>
