@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color:#ebd3da;;
    background: url('../images/hero.jpg') no repeat; 
}

.subscribe-container{
    width: 420px;
    background :  #fff;
    color: #000;
    border-radius: 10px; 
    padding: 55px 30px;
    margin-top: 100px;
}
.subscribe-container h1{
        font-size: 50px;
        text-align: center;
}

.subscribe-container p{
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 500;
}

.subscribe-container .input-box{
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent; 
    border: none;
    outline: none;
    border: 2px solid #000;
    border-radius: 40px;
    font-size: 16px; 
    color: #000;
    padding: 20px 45px 20px 15px;
}

.input-box input::placeholder{
    color: grey;
}

.input-box i {
    position: absolute;
    margin: 15px;
    top: 50%; 
    transform: translateY(-50%);
    font-size: 20px;
}

.subscribe-container .terms-and-conditions{
    display: flex;
    font-size: 14px;
    margin: 1.5rem 0;
    text-align: right;

}

.terms-and-conditions label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.terms-and-conditions .terms-and-conditions-label{
    margin-top: 0;   /* Remove any default margin */
}

.subscribe-container .terms-and-conditions-checkbox{
    width: 18px;
    height: 18px;
    cursor: pointer;
    flex-shrink: 0;
}

.subscribe-container a{
    color: #000;
    font-weight: 500;
}

.subscribe-container a:hover{
    text-decoration: underline;
}

.subscribe-container .subscribe-button{
    width: 100%;
    height: 50px;
    background:#f9b3c7;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}