
body{
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header-left h1 {
    color: #2c3e50;
    text-align: center;
    padding: 20px 0;
}

.priest-row {
    background-color: #f9b3c7;
    border: 1px solid #ddd;
    margin: 10px auto;
    padding: 15px;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr; 
}

.priest-row .name {
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
}

.priest-row .birthdate {
    font-size: 1.2em;
    color: grey;
    padding-left: 20px;
}

.priest-row a{
    text-decoration: none;
    color: inherit;
}