@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#fff;
    background: url('../images/hero.jpg') no repeat; 
}

.wrapper{
    width: 420px;
    background :  #febed0;
    color: #fff;
    border-radius: 10px; 
    padding: 55px 30px;
    margin-top: 100px;
}
.wrapper h1{
        font-size: 50px;
        text-align: center;
}

.wrapper .input-box{
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent; 
    border: none;
    outline: none;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 16px; 
    color: #fff; 
    padding: 20px 45px 20px 15px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i {
    position: absolute;
    margin: 15px;
    top: 50%; 
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .create-new-admin{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

.create-new-admin a{
    color: #fff;
    text-decoration: none;
}

.create-new-admin a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 50px;
    background: #4ea3ff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}