{% extends 'base.html' %}
{% load static %}
{% block title %}Home – Virgen Dela Candelaria Parish{% endblock %}
{%block head %}
  {{ block.super }}
  <link rel ="stylesheet" href="{% static 'css/cardsStyle.css' %}">
  
{% endblock %}
{% block content %}
<section class="hero">
  <h1>Everyone is Welcome Here.</h1>
  <p>Welcome to Virgen Dela Candelaria Parish, a home of faith, hope, and love.
     Join us in prayer, service, and community as we honor our Blessed Mother.</p>
</section>

<section class="section">
  <h2>Learn More</h2>
  <div class="cards">
    <a href="/announcements/"><div class="card"><h3>Check Announcements</h3><p>Always be in the know</p></div></a>
    <a href = "/songs/"><div class="card"><h3>Sing our Songs</h3><p>Join us in offering our voices to the lord</p></div></a>
    <a href = "/priests/"><div class="card"><h3>Know our Priests</h3><p>Meet the amazing priests of the parish</p></div></a>
    <a href = "/groups/"> <div class="card"><h3>Meet our Affiliates</h3><p>Know about our groups</p></div></a>
    <a href = "/acknowledgements/"><div class="card"><h3>Special Thanks</h3><p>Our heartful thanks to them</p></div></a>
  </div>
</section>
{% endblock %}
