
body{
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.header-left h1 {
    color: #2c3e50;
    padding: 0, 0;
}

.header-left {
    justify-items:left;
   
}

.header-left button {
    width: 80px;
    height: 40px;
    font-size: 1em;
    cursor: pointer;
    background: #4ea3ff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 18px;
}

.donation-row {
    background-color: #f9b3c7;
    border: 1px solid #ddd;
    margin: 10px auto;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    gap: 10px; 
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr; 
}

.donation-row .name {
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
}

.donation-row .amount {
    font-size: 1.0em;
    color: grey;

}