@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background-color:#ebd3da;;
    background: url('../images/hero.jpg') no repeat; 
}

.donation-container{
    width: 420px;
    background :  #fff;
    color: #000;
    border-radius: 10px; 
    padding: 55px 30px;
    margin-top: 10px;

}


.donation-container h1{
        font-size: 40px;
        text-align: center;
}


.donation-container p{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 500;
}
.donation-container .input-box{
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent; 
    border: none;
    outline: none;
    border: 2px solid #000;
    border-radius: 40px;
    font-size: 16px; 
    color: #000;
    padding: 20px 45px 20px 15px;
}

.message-box textarea {
    width: 100%;
    min-height: 120px; 
    
    background: transparent; 
    border: none;
    outline: none;
    border: 2px solid #000;

    border-radius: 10px; 
    
    font-size: 16px; 
    color: #000;
    
   
    padding: 15px 15px 15px 15px; 
    margin-bottom: 10px;
    resize: vertical; 
}

.input-box input::placeholder{
    color: grey;
}

.input-box i { /*if I want to add an icon inside the input box*/
    position: absolute;
    margin: 15px;
    top: 50%; 
    transform: translateY(-50%);
    font-size: 20px;
}

.terms-and-conditions{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.terms-and-conditions .terms-and-conditions-label{
    margin-top: 0;   /* Remove any default margin */
}

.terms-and-conditions-checkbox{
    width: 18px;
    height: 18px;
    cursor: pointer;
    flex-shrink: 0;
}

.anonymous-donation{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
    
}

.terms-and-conditions-label{
    margin-top: 0;
}



.set-anonymous-checkbox{
    width: 18px;
    height: 18px;
    cursor: pointer;
    flex-shrink: 0;
    margin-top: 0; 
}

.donation-container a{
    color: #000;
    font-weight: 500;
}

.subscribe-container a:hover{
    text-decoration: underline;
}

.donation-container .donate-button{
    width: 100%;
    height: 50px;
    background:#f9b3c7;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.payment-method{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.payment-method img{
    width: 100px;
    height: auto;
    object-fit: contain;  /* Prevents distortion */
    margin: 0 10px;       /* Space between images */
    cursor: pointer;
    padding: 20px, 30px;
    gap: 10px
}