{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Donate-Virgen Dela Candelaria Parish{% endblock %}</title>
<link rel="stylesheet" href="{% static 'css/donationStyle.css' %}">
<link rel= "stylesheet" href = "{%static 'css/newItems.css' %}">
</head>


<body>
  <div class ="donation-container">
    <h1>Make a Donation</h1>
    <p>Your generosity helps sustain our parish’s mission and ministries. Thank you!</p>


    <form method = "post" action = "{% url 'donate' %}">
      {% csrf_token %} 
        <div class="input-box">
            <input type="text" id="donor-name" name="donor-name" placeholder="Full Name">
        </div>

        <div class="input-box">
            <input type="email" id="donor-email" name="donor-email" required placeholder="Email Address">
        </div>

        <div class="input-box">
            <input type="number" id="donation-amount" name="donation-amount" required placeholder="Amount in Php">
        </div>

        <div class="message-box">
            <textarea id="donor-message" class="donor-message" placeholder="Leave a message (optional)"></textarea>
        </div>
    

    
        <div class = "anonymous-donation">
            <label class = "set-anonymous-label">
                <input type="checkbox" class = "set-anonymous-checkbox" name = "anonymous-checkbox">
                  Set donation as anonymous
            </label>
          </div>
        <div class = "terms-and-conditions">
          <label class = "terms-and-conditions-label">
            <input type="checkbox" required="required" class = "terms-and-conditions-checkbox">
              I have read and agree to the <a href="{% url 'terms_and_conditions' %}">terms and conditions</a>
          </label>
        </div>
  



      <label for="payment-method-select">Select Payment Method:</label>
      <div class = "payment-method">
        <a href = ""><img src="{% static 'icons/gcash.svg' %}" alt="GCash"></a>
         <a href = ""><img src="{% static 'icons/maya.svg' %}" alt="PayMaya"></a>
      </div>
      <button type="submit" class="donate-button">Donate Now</button>
    </form>
    </div>
  </div>
</body>
</html>